/* Link Individual do Menu (CABEÇALHO) */
.menu a {
    text-decoration: none;
    color: #5c4a60;
    font-size: 15px;
    font-weight: 600;
}
.menu a:hover {
    color: #a575a5;
    text-decoration: underline;
    font-weight: 700;
}