/* Estilos base para Inputs, Selects e Textareas */
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
    /* Estilo de background padronizado para formulários admin */
    background-color: #E8E3F5; 
    border: none;
}